[Desktop Entry]
Name=Noosphere Breath
Comment=Breathing practices application
Exec=/opt/noospherebreath/NoosphereBreath
Icon=/opt/noospherebreath/icon.png
Terminal=false
Type=Application
Categories=Health;
